$primary: rgb(30, 194, 142); // #1dc28d
$primary-light: lighten($primary, 6%);
$primary-dark: darken($primary, 10%);
$toolbar-height: 32px;

.gpt-toolbar {
  background-color: $primary;
  position: relative;
  height: $toolbar-height;
  &-btn {
    padding: 0.5rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
    line-height: 0;
    outline: 0;
    &:hover {
      background-color: $primary-light;
    }
    svg {
      width: 16px;
      height: 16px;
      fill: #fff;
    }
  }
  &-btn-login {
    color: #fff !important;
  }
  &-pop {
    position: absolute;
  }
  .divider {
    width: 1px;
    height: 15px;
    background: $primary-dark;
  }
}

.gpt-message {
  background-color: $primary;
}

.gpt-modal {
  bottom: calc($toolbar-height + 8px);
  background: $primary;
  z-index: 1;
  transform: translateX(-50%);
  margin-left: 16px;
  width: 280px;
  &-submit {
    background-color: $primary-dark;
  }
  textarea {
    width: 100%;
    outline: 0;
    background: #fff;
    box-sizing: border-box;
    min-height: 40px;
    font-size: 12px;
    resize: none;
  }
}
