$primary: rgb(30, 194, 142);
$primary-light: lighten($primary, 6%);
$primary-dark: darken($primary, 10%);

.gpt-toolbar {
  background-color: $primary;
  overflow: hidden;
  position: relative;
  height: 32px;
  &-btn {
    padding: 0.5rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
    line-height: 0;
    &:hover {
      background-color: $primary-light;
    }
    svg {
      width: 16px;
      height: 16px;
      fill: #fff;
    }
  }
  &-btn-login {
    color: #fff !important;
  }
  &-pop {
    position: absolute;
  }
  .divider {
    width: 1px;
    height: 15px;
    background: $primary-dark;
  }
}
